{% extends "base.html" %} {% block content %}

<h2 class="page-title">University Clubs</h2>

{% for club in clubs %}

<div class="card">
  <h3>{{ club.name }}</h3>

  <p>{{ club.description }}</p>

  {% if club.user_status == "approved" %}

  <span class="status approved">Member</span>

  {% elif club.user_status == "pending" %}

  <span class="status pending">Request Pending</span>

  {% elif club.user_status == "rejected" %}

  <span class="status rejected">Rejected</span>

  {% else %}

  <a href="/clubs/join/{{ club.id }}/" class="btn-primary">Join Club</a>

  {% endif %}
</div>

{% endfor %} {% endblock %}
