{% extends "base.html" %} {% block content %}

<h2 class="page-title">{{ club.name }}</h2>

<div class="card">
  <p>{{ club.description }}</p>

  <div class="card-footer">
    {% if membership_status == "approved" %}
    <span class="status approved">✔ You are a member</span>

    {% elif membership_status == "pending" %}
    <span class="status pending">⏳ Pending</span>

    {% elif membership_status == "rejected" %}
    <span class="status rejected">❌ Rejected</span>

    {% else %}
    <form method="post" action="{% url 'join_club' club.id %}">
      {% csrf_token %}
      <button class="btn-primary">Join Club</button>
    </form>
    {% endif %}
  </div>
</div>

<h3 class="page-title">📅 Events</h3>

{% for event in events %}

<div class="card">
  <h4>{{ event.title }}</h4>

  <p>{{ event.description|linebreaks }}</p>

  <p>Date: {{ event.event_date }}</p>

  <div class="card-footer">
    {% if membership_status == "approved" %} {% if event.id in
    registered_event_ids %}
    <span class="status approved">✔ Registered</span>
    {% else %}
    <a href="{% url 'register_event' event.id %}" class="btn-primary">
      Register
    </a>
    {% endif %} {% else %}
    <span class="status rejected">Join club first</span>
    {% endif %}
  </div>
</div>

{% empty %}
<p>No events available.</p>
{% endfor %} {% endblock %}
