{% load static %}

<!doctype html>
<html>
  <head>
    <title>Clubs | DIUHub</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <div class="container">
      <h2 class="page-title">University Clubs</h2>

      {% for club in clubs %}

      <div class="club-card">
        <div class="club-name">{{ club.name }}</div>

        <div class="club-description">{{ club.description }}</div>

        {% if club.user_status %} {% if club.user_status == "approved" %}
        <span class="status approved">Approved</span>

        {% elif club.user_status == "rejected" %}
        <span class="status rejected">Rejected</span>

        {% else %}
        <span class="status pending">Pending</span>

        {% endif %} {% else %}

        <a href="/clubs/join/{{ club.id }}/" class="btn-join"> Join Club </a>

        {% endif %}
      </div>

      {% empty %}
      <p>No clubs available.</p>
      {% endfor %}
    </div>
  </body>
</html>
