{% extends "base.html" %} {% block content %}

<h2 class="page-title">📥 Membership Requests</h2>

<div class="request-grid">
  {% for membership in requests %}

  <div class="card">
    <!-- TOP -->
    <div class="card-top">
      <h3>{{ membership.club.name }}</h3>
      <span class="status pending">Pending</span>
    </div>

    <!-- USER INFO -->
    <div class="card-info">
      <p>👤 {{ membership.user.username }}</p>
      <p>🆔 ID: {{ membership.user.student_id }}</p>
    </div>

    <!-- ACTIONS -->
    <div class="card-actions">
      <form method="post" action="{% url 'approve_membership' membership.id %}">
        {% csrf_token %}
        <button class="btn-approve">Approve</button>
      </form>

      <form method="post" action="{% url 'reject_membership' membership.id %}">
        {% csrf_token %}
        <button class="btn-reject">Reject</button>
      </form>
    </div>
  </div>

  {% empty %}
  <p>No pending requests.</p>
  {% endfor %}
</div>

{% endblock %}
