{% load static %}

<!doctype html>
<html>
<head>
  <title>DIUHub</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet"/>
</head>

<body class="{% if request.user.role == 'admin' or request.user.role == 'superadmin' %}admin-theme{% else %}student-theme{% endif %}">

{% if messages %}
<div class="toast-container">
  {% for message in messages %}
  <div class="toast-message">{{ message }}</div>
  {% endfor %}
</div>
{% endif %}

<div class="layout">
  <div class="sidebar" id="sidebar">

    <div class="logo-container">
      <img src="{% static 'images/diuhub_logo.png' %}" class="logo-img"/>
    </div>

    <a href="/dashboard/">Dashboard</a>
    <a href="/profile/">My Profile</a>
    <a href="/clubs/">Clubs</a>

    {% if request.user.role == "superadmin" %}
      <a href="{% url 'create_club' %}">🏫 Create Club</a>
      <a href="{% url 'create_event' %}">➕ Create Event</a>
    {% endif %}

    {% if request.user.role == "admin" %}
      <a href="{% url 'create_event' %}">➕ Create Event</a>
    {% endif %}

    <a href="/events/">Events</a>

    {% if request.user.role == "admin" or request.user.role == "superadmin" %}
      <a href="/attendance/report/">📊 Attendance Report</a>
      <a href="/attendance/scan/">📷 Scan Attendance</a>
    {% endif %}

    {% if request.user.role == "student" %}
      <a href="/attendance/">Attendance</a>
      <a href="/events/my-qr/">📱 My QR</a>
    {% endif %}

    <a href="/logout/">Logout</a>
  </div>

  <div class="main">
    <div class="navbar">
      <button id="menu-toggle">☰</button>

      <div class="nav-right">
        <button id="dark-toggle">🌙</button>
        <span>Welcome, {{ request.user.username }}</span>
      </div>
    </div>

    <div class="content">{% block content %}{% endblock %}</div>
  </div>
</div>

<script>
document.getElementById("menu-toggle").onclick = () => {
  document.getElementById("sidebar").classList.toggle("collapsed");
};

const darkBtn = document.getElementById("dark-toggle");

if (localStorage.getItem("darkMode") === "enabled") {
  document.body.classList.add("dark");
}

darkBtn.onclick = () => {
  document.body.classList.toggle("dark");
  localStorage.setItem("darkMode",
    document.body.classList.contains("dark") ? "enabled" : "disabled"
  );
};
</script>

</body>
</html>