{% extends "base.html" %} {% block content %}

<h2 class="page-title">📊 Attendance</h2>

{% for a in attendance %}

<div class="card">
  <h4>{{ a.registration.event.title }}</h4>

  <p><strong>Club:</strong> {{ a.registration.event.club.name }}</p>
  <p><strong>User:</strong> {{ a.registration.user.username }}</p>

  <div class="card-footer">
    {% if a.attended %}
    <span class="status approved">✔ Present</span>
    {% else %}
    <span class="status rejected">❌ Absent</span>
    {% endif %}
  </div>
</div>

{% empty %}
<p>No attendance records.</p>
{% endfor %} {% endblock %}
