{% extends "base.html" %} {% block content %}

<h2 class="page-title">My Attendance</h2>

{% for a in attendance %}

<div class="card">
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div>
      <h3 style="margin: 0">{{ a.registration.event.title }}</h3>

      <p style="margin: 5px 0; color: #7f8c8d">
        Club: {{ a.registration.event.club.name }}
      </p>

      <p style="margin: 5px 0">Date: {{ a.registration.event.date }}</p>
    </div>

    <div>
      {% if a.attended %}
      <span class="status approved">Present</span>
      {% else %}
      <span class="status rejected">Absent</span>
      {% endif %}
    </div>
  </div>
</div>

{% empty %}

<div class="card">
  <p>No attendance records yet.</p>
</div>

{% endfor %} {% endblock %}