{% extends "base.html" %} {% block content %}

<h2 class="page-title">Scan Attendance</h2>

<div class="card" style="text-align: center; max-width: 500px; margin: auto">
  <!-- CAMERA -->
  <div id="reader" style="width: 100%"></div>

  <p id="result" style="margin-top: 15px; font-weight: 500"></p>
</div>

<!-- QR SCANNER LIBRARY -->
<script src="https://unpkg.com/html5-qrcode"></script>

<script>
  function onScanSuccess(decodedText) {
    document.getElementById("result").innerText = "Scanned: " + decodedText;

    // SEND TO BACKEND
    fetch("/attendance/scan/", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: "qr_data=" + decodedText,
    })
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("result").innerText = data.message;
      })
      .catch(() => {
        document.getElementById("result").innerText = "❌ Server error";
      });
  }

  const html5QrCode = new Html5Qrcode("reader");

  Html5Qrcode.getCameras()
    .then((devices) => {
      if (devices && devices.length) {
        html5QrCode.start(
          devices[0].id,
          {
            fps: 10,
            qrbox: 250,
          },
          onScanSuccess,
        );
      }
    })
    .catch((err) => {
      document.getElementById("result").innerText = "Camera not accessible";
    });
</script>

{% endblock %}
