{% extends "base.html" %}
{% block content %}

<h2 class="page-title">All Events</h2>

{% for event in events %}
  <div class="card">

    <h3>{{ event.title }}</h3>

    <p><strong>Club:</strong> {{ event.club.name }}</p>

    <p>{{ event.description|linebreaks }}</p>

    <p><strong>Date:</strong> {{ event.event_date }}</p>

    {% if event.id in registered_events %}
      <span class="status approved">Registered</span>
    {% else %}
      <a href="/events/register/{{ event.id }}/" class="btn-primary">
        Register
      </a>
    {% endif %}

  </div>
{% endfor %}

{% endblock %}