{% extends "base.html" %} {% block content %}

<!-- HEADER -->
<div class="page-header">
  <h2 class="page-title">📅 Events</h2>

  {% if request.user.role == "admin" %}
  <a href="{% url 'create_event' %}" class="btn-primary"> ➕ Create Event </a>
  {% endif %}
</div>

<!-- EVENTS -->
{% if events %} {% for event in events %}

<div class="card">
  <h3>{{ event.title }}</h3>

  <p><strong>Club:</strong> {{ event.club.name }}</p>
  <p>{{ event.description|linebreaks }}</p>
  <p><strong>Date:</strong> {{ event.event_date }}</p>

  <br />

  <!-- ✅ REGISTERED -->
  {% if event.id in registered_events %}

  <span class="status approved">✔ Registered</span>
  <br /><br />

  {% if event.user_registration and event.user_registration.qr_code %}
    <img
      src="{{ event.user_registration.qr_code.url }}"
      width="120"
      alt="Registration QR code"
      title="Registration QR code"
    />
  {% endif %}

  <!-- ✅ CAN REGISTER -->
  {% elif event.club.id in user_clubs %}

  <a href="{% url 'register_event' event.id %}" class="btn-primary">
    Register
  </a>

  <!-- ❌ NOT MEMBER -->
  {% else %}

  <span class="status rejected"> Join club to register </span>

  {% endif %}
</div>

{% endfor %} {% else %}

<p>No events available.</p>

{% endif %} {% endblock %}
